In [15]:
import pandas as pd
import seaborn as sns 
import numpy as np

In [16]:
df=pd.read_csv("C:/Users/jessi/Downloads/titanic-passengers.csv", sep=";")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB

In [18]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [19]:
df.drop('Cabin',axis=1,inplace=True)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,S

In [20]:
df['Age']=df['Age'].fillna(df['Age'].mean())

In [21]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [22]:
df['Survived']=df['Survived'].map({"Yes":0, "No":1})

from sklearn.preprocessing import LabelEncoder

sex_le=LabelEncoder()
df['Sex']=sex_le.fit_transform(df['Sex'])

emb_le=LabelEncoder()
df['Embarked']=emb_le.fit_transform(df['Embarked'])

In [23]:
df.drop(['Name','Ticket'],axis=1,inplace=True)
df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          343         1       2    1  28.0      0      0  13.0000         2
1           76         1       3    1  25.0      0      0   7.6500         2
2          641         1       3    1  20.0      0      0   7.8542         2
3          568         1       3    0  29.0      0      4  21.0750         2
4          672         1       1    1  31.0      1      0  52.0000         2

In [24]:
from sklearn.model_selection import train_test_split
from sklearn import tree   
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [25]:
x=df.drop('Survived',axis=1).values
y=df['Survived'].values
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=741)

In [26]:
model=DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [27]:
from sklearn.metrics import *
y_pred=model.predict(x_test)
accuracy_score(y_test,y_pred)

0.7988826815642458

In [ ]:
from sklearn.datasets import titanic-passengers
model=tree.DecisionTreeClassifier(random_state=0)
tnc=titanic_passengers()

In [63]:
x=df.drop(['Survived','Embarked'],axis=1).values
y=df['Survived'].values
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=741)

In [65]:
model=DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [66]:
from sklearn.metrics import *
y_pred=model.predict(x_test)
accuracy_score(y_test,y_pred)

0.7541899441340782

In [54]:
from sklearn.model_selection import train_test_split,RandomizedSearchCV, GridSearchCV
from sklearn.ensemble import RandomForestClassifier 

model=RandomForestClassifier()
model.fit(x_train,y_train)

RandomForestClassifier()

In [55]:
y_pred=model.predict(x_test)
accuracy_score(y_test,y_pred)

0.8156424581005587

In [57]:
model=RandomForestClassifier()
hyperparams={
    "n_estimators": [i for i in range(1,100)],
    "min_samples_split":[i for i in range(2,4)]
}
r_search=RandomizedSearchCV(model,hyperparams,n_iter=10)
r_search.fit(x,y)

RandomizedSearchCV(estimator=RandomForestClassifier(),
                   param_distributions={'min_samples_split': [2, 3],
                                        'n_estimators': [1, 2, 3, 4, 5, 6, 7, 8,
                                                         9, 10, 11, 12, 13, 14,
                                                         15, 16, 17, 18, 19, 20,
                                                         21, 22, 23, 24, 25, 26,
                                                         27, 28, 29, 30, ...]})

In [59]:
y_pred=r_search.predict(x_test)
accuracy_score(y_test,y_pred)

0.994413407821229